---
import TextLink from './TextLink.astro';

interface LinkItem {
  label: string;
  href: string;
}

interface Props {
  title: string;
  body: string;
  links?: LinkItem[];
}

const { title, body, links = [] } = Astro.props;
---
<section class="mdx-block">
  <h2>{title}</h2>
  <p>{body}</p>
  {
    links.length > 0 && (
      <ul>
        {links.map((link) => (
          <li>
            <TextLink href={link.href} label={link.label} arrow={false} />
          </li>
        ))}
      </ul>
    )
  }
</section>
